<section class="bg-blueGray-200 py-20 section-3">
<div class="text-center my-6" id="من-نحن">
            <h4

              class="my-10 text-3xl font-bold text-gray-900 dark:text-white transition"
            >
             عن المؤسسة
   
            </h4>
          </div>
  <div class="py-8 px-4 w-3/4 m-auto bg-gray-100  dark:bg-gray-800 dark:text-white p-4 rounded-lg shadow-md lg:py-16 lg:px-6">

  
      <div class="mx-auto max-w-screen-md px-8 sm:text-center">

          <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-base dark:text-gray-400">
 <p class="text-muted">تأسـسـت مؤســسـة رواج الإتـقان فــي عـام 2012، نمت المؤسسة بشكل مطرد و نجـاح متواتر و ذلك لإتمامها مختلف المشـاريـع الخاصـة بحيث كونت قاعدة مالية مستقرة و موظفين ذوي خبرة و درايـة جديـة مـع الـمـتطلبـات الصارمة للمشاريع المختلفة , حيث اكتسـب الـفـريــق خـبـرة مـن سـنـوات عـديـدة مــن المشاركة في مشاريع واسعة النطاق.
</p>
<h1 class="m-2 text-xl font-bold text-gray-900">
                  رسالتنا
</h1>
<p class="text-muted">
   • تلتزم مؤسسة رواج الإتقان بتقديـم مستـوى عالـي مـن الـخـدمـات و المنتجـات و طبقـاً لمعايير الجودة
<p>
    • تحرص مؤسسة رواج الإتقان على إرضاء عملائها و تلبية احتياجاتهم.
</p>
<p>
    • تعتقـد مؤسسة رواج الإتقان اعتقاداً راسخاً بـأن عـمـلـيـة تـطـويـر الـشـركـات تـرتبـط بمواردها البشرية
</p><p>
    • تشـجع مؤسـسة رواج الإتقان العامـلين بها للحصـول علـى أعلى المناصب و ذلك تبعاً لمؤهلاتهم و السياسة الإدارية الحريصة.
</p>
<p>
    • تهـدف مـؤسـسة رواج الإتقان إلـى توسعـة أنشـطة المؤسـسة الحالـية و افتتـاح أنـشطة جديدة.
</p>
<p>
    • تبذل مؤسسة رواج الإتقان كل إمكانياتها لتوفير خدمات البناء المتنوعة باعتبارها مقاول رئيسي أو المشاريع بالباطن.
</p><p>
    • تقدم مؤسـسة رواج الإتـقـان حـلـول لـمتطلبات الـعمل لتكون المؤسسة الرائدة في الجودة و دقـة المواعيـد في تـسليم الأعمال و سـلامة و أخلاقيات العـمل لتحقيـق رضا مطلق للعملاء.</P>
<h1 class="m-2 text-xl font-bold text-gray-900">
رؤيتنا
</h1>
<p class="text-muted">تتطلع مؤسـسة رواج الإتقان إلى أن تصبـح من كـبـرى المنشـآت الـرائـدة علـى مستوى شـركـات قـطـاع تقنية المعلومات فـي المـمكلـة الـعربيـة السـعوديـة، كـما تسـعـى لافتـتـاح المـزيـد مـن المجالات و الأنشطـة التي تتعلق بالقطاع.</p>
</p>
         

      </div>


  </div>
  <div class="text-center my-6" id="من-نحن">
   <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xl font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    اطلب خدمة
              </button>
            </a>
    </div>
</section>
