<section class="bg-blueGray-200 py-20 section-3">
<div class="text-center my-6" id="about-us">
            <h1

              class="my-10 text-3xl font-bold text-gray-900 transition"
            >
             About Us
   
            </h1>
          </div>
    <div class="py-8 px-4 w-3/4 m-auto bg-gray-100  p-4 rounded-lg shadow-md lg:py-16 lg:px-6" style="background-image: radial-gradient(#04516a, #261329);">

  
      <div class="mx-auto max-w-screen-md px-8 sm:text-center leading-8" style="color: wheat;">

          <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-base">
 <p class="text-muted">
Established in 2012, Rawaj Al-
Itqan has experienced consistent
growth, marked by frequent success
in completing diverse projects. This
progress
has
enabled
the
establishment to build a solid
financial foundation and assemble a
team of highly experienced and
knowledgeable staff capable of
meeting the rigorous demands of
various projects. With years of
participation in large-scale projects,
the
team
has
accumulated
invaluable expertise.
</p>
<h1 class="m-2 text-xl font-bold text-gray-900">
                  Mission
</h1>
<p class="text-muted">
   Rawaj Al-Itqan Co. is dedicated to delivering
top-notch services and products that adhere
to quality standards, aiming to satisfy
customers and meet their needs. The
company firmly believes in the vital role of
human resources in corporate development,
thus promoting employee advancement
based
on
qualifications
and
prudent
management. With a focus on expanding
current operations and venturing into new
activities, Rawaj Al-Itqan Co. strives to offer
diverse construction services as either a
primary or subcontractor. The company is
committed to providing solutions tailored to
business needs, aspiring to become a leading
organization in terms of quality, punctuality,
integrity, and work ethic to ensure absolute
customer satisfaction.
</p>
<h1 class="m-2 text-xl font-bold text-gray-900">
Vision
</h1>
<p class="text-muted">
Rawaj AlItqan Co. aspires to emerge
as a premier entity among
construction and trading companies
in Saudi Arabia. Additionally, it
aims to diversify its portfolio by
venturing into complementary fields
and
activities
within
the
construction sector.
</p>
</p>
         

      </div>


  </div>
  <div class="text-center my-6">
   <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xl font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    Request A Service
              </button>
            </a>
    </div>
</section>
