<section class="bg-blueGray-200 py-20 section-3">
<div class="text-center my-6" id="من-نحن">
            <h4

              class="my-10 text-3xl font-bold text-gray-900 transition"
            >
             عن الشركة
   
            </h4>
          </div>
  <div class="py-8 px-4 w-3/4 m-auto bg-gray-100  p-4 rounded-lg shadow-md lg:py-16 lg:px-6" style="background-image: radial-gradient(#04516a, #261329);">

  
      <div class="mx-auto max-w-screen-md px-8 sm:text-center leading-8" style="color: wheat;">

          <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-base ">
 <p class="text-muted">تأسـسـت شركة رواج الإتـقان فــي عـام 2012، نمت الشركة بشكل مطرد و نجـاح متواتر وذلك لإتمامها مختلف المشـاريـع الخاصـة بحيث كونت قاعدة مالية مستقرة و موظفين ذوي خبرة و درايـة جديـة مـع الـمـتطلبـات الصارمة للمشاريع المختلفة , حيث اكتسـب الـفـريــق خـبـرة مـن سـنـوات عـديـدة مــن المشاركة في مشاريع واسعة النطاق.
</p>
<h1 class="m-2 text-xl font-bold">
                  رسالتنا
</h1>
<p class="text-muted">
   • تلتزم شركة رواج الإتقان بتقديـم مستـوى عالـي مـن الـخـدمـات و المنتجـات و طبقـاً لمعايير الجودة
<p>
    • تحرص شركة رواج الإتقان على إرضاء عملائها و تلبية احتياجاتهم.
</p>
<p>
    • تعتقـد شركة رواج الإتقان اعتقاداً راسخاً بـأن عـمـلـيـة تـطـويـر الـشـركـات تـرتبـط بمواردها البشرية
</p><p>
    • تشـجع شركة رواج الإتقان العامـلين بها للحصـول علـى أعلى المناصب و ذلك تبعاً لمؤهلاتهم و السياسة الإدارية الحريصة.
</p>
<p>
    • تهـدف شركة رواج الإتقان إلـى توسعـة أنشـطة الشركة الحالـية و افتتـاح أنـشطة جديدة.
</p>
<p>
    • تقدم شركة رواج الإتـقـان حـلـول لـمتطلبات الـعمل لتكون الشركة الرائدة في الجودة و دقـة المواعيـد في تـسليم الأعمال و سـلامة و أخلاقيات العـمل لتحقيـق رضا مطلق للعملاء.</P>
<h1 class="m-2 text-xl font-bold">
رؤيتنا
</h1>
<p class="text-muted">تتطلع شركة رواج الإتقان إلى أن تصبـح من كـبـرى المنشـآت الـرائـدة علـى مستوى شـركـات قـطـاع تقنية المعلومات فـي المـمكلـة الـعربيـة السـعوديـة، كـما تسـعـى لافتـتـاح المـزيـد مـن المجالات و الأنشطـة التي تتعلق بالقطاع.</p>
</p>
         

      </div>


  </div>
  <div class="text-center my-6">
   <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xl font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    اطلب خدمة
              </button>
            </a>
    </div>
</section>
    


