  <div class="flex flex-col">

<div
    class="relative bg-blueGray-200 footer-background h-20 sm:h-30 pt-8 pb-6"
  >

    <div
      class="container mx-auto px-4 absolute bottom-0 footer-color sm:relative"
    >
      <div class="flex flex-wrap text-center">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold">
Let's keep in touch!
</h4>
          <h5 class="text-lg my-2">
Join us on any of these platforms!

          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
    <a href="https://www.linkedin.com/company/rawaj-it" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn button">
            <button title="linkedin"
              class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-linkedin-in"></i>
            </button>
            </a>
          <a href="https://twitter.com/rawaj_it" target="_blank" rel="noopener noreferrer" aria-label="twitter button">
            <button title="twitter"
              class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" style="display:inherit""><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
            </a>
             <a href="https://www.facebook.com/rawaj.info.tech/" target="_blank" rel="noopener noreferrer" aria-label="facebook button">
            <button title="facebook"
              class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-facebook-square"></i>
            </button>
            </a>
     
             <a href="https://www.instagram.com/rawaj_it/" target="_blank" rel="noopener noreferrer" aria-label="instagram button">
            <button title="instagram"
              class="bg-white text-blue-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-instagram"></i>
            </button>
            </a>
 
               <a href=" https://www.youtube.com/@rawajit" target="_blank" rel="noopener noreferrer" aria-label="Youtube button">
            <button title="youtube"
              class="bg-white text-blue-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-youtube"></i>
            </button>
            </a>

       <a href=" https://www.tiktok.com/@rawaj_it" target="_blank" rel="noopener noreferrer" aria-label="Tiktok button">
            <button title="youtube"
              class="bg-white text-blue-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-tiktok"></i>
            </button>
            </a>
          </div>
   <p class="text-lg my-2">
You can also contact us via:

    </p>
 <div class="lg:mb-0">
<p style="direction:ltr">
<i class="fas fa-mobile-alt"></i>
          <a href="tel:+966541193545" target="_blank" rel="noopener noreferrer" aria-label="mobile number">
                +966 54 119 3545
            </a>

              
</p>
</div>
 <div class="lg:mb-0">
          <a href="mailto:mirsal@rawajit.com" target="_blank" rel="noopener noreferrer" aria-label="email address">
                mirsal@rawajit.com
            </a>

              <i class="fas fa-envelope"></i>

</div>

        </div>
        <div class="w-full lg:w-6/12 px-4 pt-8">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-base font-semibold mb-2 text-emerald-300">
                Useful Links
              </span>
              <ul class="list-unstyled">
 
      <li>
                  <a
                    class=" hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="/blog"
                  >
                    Blog
                  </a>
                </li>

                <li>
                  <a
                    class=" hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="/careers"
                  >
                    Careers
                  </a>
                </li>
                <li>
                  <a
                    class=" hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="/contact"
                  >
                    Request a service
                  </a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4 sm:mt-8 ml-auto">
              <span class="block uppercase text-base font-semibold mb-2 text-emerald-300">
                Other Resources
              </span>
              <ul class="list-unstyled">
                <li>
                  <a
                    class=" hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="/سياسة-الخصوصية-والاستخدام"
                  >
                    Usage and Privacy Policy
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300" />
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm font-semibold py-1">
            All Rights Reserved © Rawaj IT {{ site.time  | date: "%Y" }}.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

