<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.url contains "/en" %}
    <meta name="title" content="Rawaj IT Co." />
    <meta name="description" content="Specialized engineers dedicated to adapting the latest technologies to serve you">
    {% else %}
    <meta name="title" content="شركة رواج الإتقان لتقنية المعلومات" />
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://rawajit.com/" />
<meta property="og:title" content="شركة رواج الإتقان لتقنية المعلومات" />
<meta property="og:description" content="مهندسين متخصصين ومتفرغين لتطويع أحدث التقنيات لخدمتك" />
<meta property="og:image" content="https://rawajit.com/img/RIIT.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://rawajit.com/" />
<meta property="twitter:title" content="شركة رواج الإتقان لتقنية المعلومات" />
<meta property="twitter:description" content="مهندسين متخصصين ومتفرغين لتطويع أحدث التقنيات لخدمتك" />
<meta property="twitter:image" content="https://rawajit.com/img/RIIT.png" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" href="{{ site.url }}/img/favicon.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/img/favicon.png" />
  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VPBL70VHR4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VPBL70VHR4');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16472036723">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16472036723');
</script>



    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  
    <!-- Custom Fonts -->
 

   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
