<style>

.topnav .icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  .topnav li{display: none;}
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {position: initial; width:80%}
  .topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
.navy {
    right: 2rem;
    left: auto;
}
#hamburger:hover {
    color: white;
}
#hamburger:focus {
    color: white;
}
</style>

<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
>



      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
     
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="direction: rtl;">

<!-- -->

      <ul class="flex w-full lg:flex-row list-none lg:ml-auto">
  <li class="flex items-center">
          <a
           
            class="text-white text-xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
            href="/"
          >
            العربية
          </a>
        </li>
        <li class="flex items-center">
          <a
           
            class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
            href="/"
          >
            <img
              src="{{ '/img/RIIT.png' | prepend: site.baseurl }}"
              alt="Logo"
              width="100"
              height="50"
            />
          </a>
        </li>
   
      </ul>
 
    </div>

        <div id="parentNav"
      class=" lg:flex navy flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none rounded shadow-lg "
      
    >
      <ul id="myTopnav" class="topnav flex flex-col lg:flex-row list-none lg:ml-auto text-sm" >


             <li class="nav-item flex">
              <a class="px-3 py-2 flex items-center fa-sun uppercase font-bold leading-snug lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 hover:opacity-75" href="#services">
               Services
              </a>
            </li>
         <li class="nav-item flex">
              <a class="px-3 py-2 flex items-center fa-sun uppercase font-bold leading-snug lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 hover:opacity-75" href="#من-نحن">
               About Us
              </a>
            </li>
            <li class="nav-item flex">
              <a class="px-3 py-2 flex items-center fa-sun uppercase font-bold leading-snug lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 hover:opacity-75" href="/careers">
                Careers
              </a>
            </li>
          
    
 <li class="nav-item flex">
              <a class="px-3 py-2 flex items-center fa-sun uppercase font-bold leading-snug lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 hover:opacity-75" href="/blog">
              Blog
              </a>
            </li>



 <li class="flex items-center">
            <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    Request A Service
              </button>
            </a>
 </li>
<li class="text-white nav-item flex icon">
 <a href="javascript:void(0);"  onclick="myFunction()" id="hamburger"
       >
    <i class="fa fa-bars "></i>
  </a>
          </li>





<!-- -->

    
                </ul>

            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
    var y = document.getElementById("parentNav");

if (x.className.includes("responsive")) {
  // Remove "responsive" from the class name
  x.className = x.className.replace("responsive", "").trim();
    y.className = y.className.replace("w-4/5", "").trim();
} else {
  // Add "responsive" to the class name
  x.className += " responsive";
  y.className += " w-4/5";
}
} 
</script>
