<section class="bg-blueGray-200 py-4 section-3">
<div class="text-center my-6" id="أعمالنا">
            <h1

              class="my-10 text-3xl font-bold text-gray-900 dark:text-white transition"
            >
             بعض أعمالنا
   
            </h1>
          </div>

  
      <div class="mx-auto max-w-screen-md sm:text-center">
<div class="flex flex-wrap items-center">
          <div class="px-4 mr-auto ml-auto">
    <div class="flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="max-h-40 w-full align-middle object-cover rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/assets/img/portfolio/qaraween1.png" alt="Qaraween-learning-platform">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">منصة القرويين التعليمية</h2>
        <p class="mb-3 font-normal text-white">حيث تم بتصميم وتنفيذ تطبيق وب متكامل لمنصة تعليمية.</p>
<p class="mb-3 font-normal text-white">تحوي المنصة مسارات وغرف تعليمية حيث يمكن للطالب أخذ ملاحظاته الشخصية ضمن الغرفة مباشرة، كما يمكنه المشاركة في صفحة النقاش لكل غرفة. بالإضافة لصفحة الملف الشخصي لكل مستخدم ولوحة التحكم.</p>
<p class="mb-3 font-normal text-white">وقد قمنا بتطبيق تقنيات التلعيب والتنافس لتحفيز الطلاب ودفعهم للاستمرار في عملية التعلم.</p>    
</div>
</div>
         
          </div>

          <div class="px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words my-6"
            >
        <div class="flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/assets/img/portfolio/Ihsan-theme.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white absolute top-5">قالب مدونة</h2>
        <p class="mb-3 font-normal text-white">قالب مدونة مع شريط جانبي متوافق مع SEO ويدعم AMP ويعرض زمن قراءة كل منشور ومعلومات الكاتب والمنشورات ذات الصلة بناء على الوسوم، ويدعم إحصائيات وإعلانات جوجل.</p>
    </div>
</div>


            </div>
          </div>

  <div class="px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words my-6"
            >
        <div class="flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/assets/img/portfolio/mobile-game.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white absolute top-5">لعبة موبايل</h2>
        <p class="mb-3 font-normal text-white">
لعبة للموبايل بسيناريو لقصة صلاح الدين الأيوبي. يمر اللاعب بعدة مراحل، حيث يكون لكل مرحلة موقعها الجغرافي على الخريطة. على اللاعب السيطرة على جميع المناطق المحيطة بالقدس وبحسب السيناريو التاريخي، لينتهي أخيرًا بمرحلة القدس. تم بناء اللعبة بواسطة أحد محركات الألعاب الشهيرة بحيث يمكن تصديرها ﻷي منصة، سواء لمتاجر جوجل وأبل أو لمنصة ستيم وغيرها.
</p>
    </div>
</div>


            </div>
          </div>

  <div class="px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words my-6"
            >
        <div class="flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/assets/img/portfolio/homebook.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white absolute top-5">تطبيق موبايل</h2>
        <p class="mb-3 font-normal text-white">
تطبيق موبايل تم إنجازه مع فريق من المهندسين هدفه حساب وتوزيع تكاليف المعيشة بين المقيمين في السكن المشترك. تم بناء التطبيق خصيصًا لنظام أندرويد.
</p>
    </div>
</div>


            </div>
          </div>

  <div class="px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words my-6"
            >
        <div class="flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/assets/img/portfolio/INF202.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white absolute top-5">تطبيق حاسوب</h2>
        <p class="mb-3 font-normal text-white">
تطبيق حاسوب صغير صُنع بطلب من مستوصف لتحويل عملية إنشاء التقارير الطبية من البرامج البدائية إلى برنامج مختص، بهدف تسريع تلك العملية وتقليل الأخطاء الناجمة عن إدخالات غير صحيحة. يمكن تصدير التطبيق ﻷي نظام تشغيل للحاسوب.
</p>
    </div>
</div>


            </div>
          </div>
  <div class="px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words my-6"
            >
        <div class="flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/assets/img/portfolio/ERPSystem.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-white absolute top-5">تطبيق إدارة</h2>
        <p class="mb-3 font-normal text-white">
حيث تم المساهمة في بناء تطبيق وب ضخم لإدارة شركة بناء شهيرة في ماليزيا. يحوي التطبيق أقسامًا لإدارة المستخدمين والممتلكات والأعمال.
</p>
    </div>
</div>


            </div>
          </div>
        </div>
</div>

</section>
