<section id="testimonials" class="bg-blueGray-200 py-4 section-3 flex flex-col items-center justify-center w-full">
    <div class="testimonial-heading text-center my-8 px-5">
           <h1

              class=" text-3xl font-bold text-gray-900 dark:text-white transition"
            >تقييمات العملاء</h1>

    </div>
<div class="pt-8 flex items-center mb-5 justify-between w-full">
<div class="flex items-start mr-20 sm:mr-2 md:mr-7">
    <img src="/assets/google.webp" class="h-12 w-12 object-cover rounded-full" alt="Google logo" />
    <div class="ml-3 flex flex-col">
        <div class="reviews text-yellow-400">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <a target="_blank" rel="nofollow" href="https://g.co/kgs/YfghmCm" class="text-sm">(14 تقييم)</a>
    </div>
</div>

      <div class="mr-2 ml-20 sm:ml-4 md:ml-8">
<a target="_blank" rel="nofollow" href="https://g.page/r/CYh3OOO5Xvh2EBM/review">
      <button class="bg-blue-600 text-white px-3 py-1.5 rounded flex items-center">
   
    <i class="fas fa-edit ml-auto"></i>
 <span class="mr-2">أضف تقييمك</span>
</button>
</a>
    </div>
</div>

    <div class="testimonial-box-container flex flex-wrap justify-center items-center w-full">
        <div class="hover:transform hover:-translate-y-1 transition duration-300 ease-in-out testimonial-box w-full max-w-xl bg-white shadow-md p-5 m-4 hover:translate-y-[-10px] transition-transform duration-300 ease-in-out">
            <div class="box-top flex justify-between items-center mb-5">
                <div class="profile flex items-center">
                    <div class="profile-img w-12 h-12 rounded-full overflow-hidden"">
                        <img src="/assets/z-zad.png" class="w-full h-full object-cover object-center" />
                    </div>
                    <div class="name-user flex flex-col mr-3 vsm:mr-0">
                        <strong class="text-lg text-gray-800 tracking-wide">z-zad Resturant</strong>

                    </div>
                </div>
                <div class="reviews text-yellow-400">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p class="text-sm text-gray-700">عملو ربط شبكة المطعم بالادراة الرئيسية بالاضافة الى الكاميرات و متابعة الحركة و بعض خدمات التقنية اللي نفذوها لنا ساهمت بشكل كبير بتحسين أداء المطعم و تسهيل إدارته</p>
            </div>
        </div>

        <!-- Repeat for other testimonial-boxes with similar structure -->

        <div class="hover:transform hover:-translate-y-1 transition duration-300 ease-in-out testimonial-box w-full max-w-xl bg-white shadow-md p-5 m-4 hover:translate-y-[-10px] transition-transform duration-300 ease-in-out">
            <div class="box-top flex justify-between items-center mb-5">
                <div class="profile flex items-center">
                    <div class="profile-img w-12 h-12 rounded-full overflow-hidden">
                        <img src="/assets/amr.png" class="w-full h-full object-cover object-center" />
                    </div>
                    <div class="name-user flex flex-col mr-3">
                        <strong class="text-lg text-gray-800 tracking-wide">Amr Alsayed</strong>

                    </div>
                </div>
                <div class="reviews text-yellow-400">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p class="text-sm text-gray-700">طلبت منهم موقع الكتروني تعليمي. والحقيقة الفريق يشتغل باحترافية عالية وتزويد تقارير دورية عن تقدم العمل، وعملوا لي المزايا المطلوبة ومزايا إضافية بأفكار جديدة. وتم التسليم عالوقت ومواصفات الجودة المحددة‎</p>
            </div>
        </div>

        <div class="hover:transform hover:-translate-y-1 transition duration-300 ease-in-out testimonial-box w-full max-w-xl bg-white shadow-md p-5 m-4 hover:translate-y-[-10px] transition-transform duration-300 ease-in-out">
            <div class="box-top flex justify-between items-center mb-5">
                <div class="profile flex items-center">
                    <div class="profile-img w-12 h-12 rounded-full overflow-hidden">
                        <img src="/assets/valeriana.png" class="w-full h-full object-cover object-center" />
                    </div>
                    <div class="name-user flex flex-col mr-3">
                        <strong class="text-lg text-gray-800 tracking-wide">valeriana scent</strong>

                    </div>
                </div>
                <div class="reviews text-yellow-400">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p class="text-sm text-gray-700">نشكرهم على جهودهم بتصميم المتجر الالكتروني و ربطه مع شركات السداد بجميع انواعها , و نتطلع للعمل معهم لاحقاً لتنفيذ تطبيق الهاتف‎</p>
            </div>
        </div>

        <div class="hover:transform hover:-translate-y-1 transition duration-300 ease-in-out testimonial-box w-full max-w-xl bg-white shadow-md p-5 m-4 hover:translate-y-[-10px] transition-transform duration-300 ease-in-out">
            <div class="box-top flex justify-between items-center mb-5">
                <div class="profile flex items-center">
                    <div class="profile-img w-12 h-12 rounded-full overflow-hidden">
                        <img src="/assets/نويمي.png" class="w-full h-full object-cover object-center" />
                    </div>
                    <div class="name-user flex flex-col mr-3">
                        <strong class="text-lg text-gray-800 tracking-wide">نويمي العتيبي
</strong>

                    </div>
                </div>
                <div class="reviews text-yellow-400">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="client-comment">
                <p class="text-sm text-gray-700">تعاقدت معهم لفلتي لأعمال سمارت هوم و كاميرات مرافبة ذكية , خدماتهم و التقنية اللي قدموها كانت فوق ما تصورت‎</p>
            </div>
        </div>
    </div>
</section>

