<style>
a.button.one::after {
  bottom: -2.5%;
  right: -1%;
  border-bottom: 2px solid #4fad49;
  border-right: 2px solid #4fad49;
}
a.button.one::before, a.button.one::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
a.button.one::before {
  top: -2.5%;
  left: -1%;
  border-top: 2px solid #4fad49;
  border-left: 2px solid #4fad49;
}
.button {
  text-decoration: none;
  color: #4fad49;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 10px;
}
a.button.one:hover:before, a.button.one:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}
</style> 

<section
        class="pb-20 bg-blueGray-200 section-1"
      >
<div class="text-center py-8" id="services">
            <h1

              class=" text-3xl font-bold text-gray-900 dark:text-white transition"
            >
خدماتنا
   
            </h1>
          </div>
        <div class="container mx-auto px-4">
         <!-- End of cards -->
  <div class="flex flex-wrap items-center">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-server text-xl"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
              أعمال البنى التحتية التقنية
            </h2>
 <ul class="list-none mt-6">
<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                        تمديدات الألياف البصرية وكبائن الإتصالات
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                        اختيار المعدات الأفضل أداءً والأنسب سعرًا بحسب كل مشروع
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                        تركيب وتوصيل الأجهزة بأفضل الطرق والهيكليات الهندسية بحسب الموقع والمشروع
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">تشغيل الأجهزة وإجراء التدخلات البرمجية والتهيئات اللازمة
                      </p>
                    </div>
                  </div>
                </li>
 <p class="text-blueGray-500 pr-12 pt-8 text-lg leading-12">
تعرف على أحد تطبيقات هذه الخدمة للأفراد: 
<br>
<a class="button one mx-auto table" href="/البيت-الذكي">
البيت الذكي
</a>
                      </p>
              </ul>

          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                data-src="/assets/img/server-1235959_1280.webp"

                class="lazyload w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>



           

      <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-8 sm:order-2">
            <img
              alt="..."
              class="lazyload max-w-full rounded-lg"
              data-src="/assets/img/infrastructure.png"

            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-network-wired text-xl"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">صيانة وتشغيل النظم والأجهزة والشبكات</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                       تحسين وصيانة الشبكات والبنى التحتية الموجودة في المنشآت المؤسساتية والفردية
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                       تحديث كافة التطبيقات والمعدات بحسب المشروع الموجود
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
تحسين وتوسيع التطبيقات البرمجية مع مراعاة الأداء والكود النظيف 
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
نقل تطبيق وب من استضافة لأخرى وتهيئة كافة الإعدادات اللازمة لذلك
                      </p>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
</div>
<div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-info text-xl"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
              الدعم التقني
            </h2>
   <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                   تقديم الاستشارات التقنية المتخصصة للأفراد والمؤسسات
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                     خدمات الاشتراك وتهئية التطبيقات اللازمة للمشاريع (التعليمية، الصحية، المحاسبية..إلخ) 
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words w-full my-6"
            >
              <img
                alt="..."
                data-src="/assets/img/web-3967926_1280.webp"

                class="lazyload w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>

    <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="lazyload max-w-full rounded-lg"
              data-src="/assets/img/web.png"


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-globe text-xl"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">تصميم وبرمجة مواقع الوب
</h2>
             <ul class="list-none mt-6">
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                    تصميم الشعار والهوية البصرية في حال عدم تواجدها
                      </p>
                    </div>
                  </div>
                </li>
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                    تخطيط وتنفيذ تطبيقات وب متكاملة بحسب الطلب، بما في ذلك تطبيقات إدارة المنشآت
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
تصميمات احترافية أنيقة متوافقة مع جميع الأجهزة
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
 التركيز على الأمان والأداء لضمان السرعة وقابلية التوسع (إضافة مزايا جديدة لاحقًا بسلاسة) للمواقع
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إنتاج مواقع متوافقة مع محركات البحث لظهورها بالنتائج الأولى للبحث
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
بناء البنية الأساسية اللازمة للتسويق الإلكتروني الناجح، بما في ذلك البيانات الوصفية لصفحات الموقع وتوليدها من طرف المخدم (SSR)
                      </p>
                    </div>
                  </div>
                </li>
     <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
رفع موقع أو تطبيق الوب على السيرفر وتهيئته بالشكل الصحيح، وربطه مع دومين خاص بنشاطك التجاري
                      </p>
                    </div>
                  </div>
                </li>
  <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
بريد إلكتروني خاص بنشاطك التجاري، بالإضافة لخدمات أخرى لتسهيل إدارة نشاطك التجاري وبحسب الطلب
                      </p>
                    </div>
                  </div>
                </li>
   <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
 إمكانية إضافة نسخات للموقع باللغات الإنجليزية والتركية والألمانية بحسب الطلب 
                      </p>
                    </div>
                  </div>
                </li>
  <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
 إمكانية إضافة خدمة الدفع الإلكتروني عبر الموقع ومزايا أخرى بحسب الطلب
                      </p>
                    </div>
                  </div>
                </li>
              </ul><br><br>
          <a class="button one mx-auto table" href="/تصميم-وبرمجة-مواقع-الوب"> تعرف أكثر</a>

            </div>
          </div>
        </div>

    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-mobile-alt text-xl"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
تطوير تطبيقات الموبايل
            </h2>
 <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إنتاج كود آمن ونظيف قابل للتوسع بسلاسة
                      </p>
                    </div>
                  </div>
                </li>
<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
تصميم واجهات أنيقة وسهلة الاستخدام
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
             التركيز على الأداء مثل السرعة والاستهلاك المنخفض للطاقة والذاكرة
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
رفع التطبيق على المتاجر الشهيرة مثل جوجل بلاي ومتجر أبل
                      </p>
                    </div>
                  </div>
                </li>

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                data-src="/assets/img/android-2027560_1280.png"

                class="lazyload w-60 align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>
  <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="lazyload max-w-full w-10/12 rounded-lg"
              data-src="/assets/img/neural-network-3816319_1280.webp"


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-code-branch text-xl"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
خدمات تحليل البيانات والذكاء الصناعي 
</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
استخدام علوم الإحصاء وتعدين البيانات لاكتشاف الأنماط في البيانات الموجودة وإعطاء أفضل الاقتراحات لتحسين طرق التسويق والبيع
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
 بناء مودلات تعلم الآلة والتعلم العميق خاصة بحسب كل مشروع للحصول على تخمينات متعلقة بالبيانات الجديدة.

                      </p>
                    </div>
                  </div>
                </li>
           
              </ul>


            </div>
          </div>
        </div>
</section>
