<style>
a.button.one::after {
  bottom: -2.5%;
  right: -1%;
  border-bottom: 2px solid #4fad49;
  border-right: 2px solid #4fad49;
}
a.button.one::before, a.button.one::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
a.button.one::before {
  top: -2.5%;
  left: -1%;
  border-top: 2px solid #4fad49;
  border-left: 2px solid #4fad49;
}
.button {
  text-decoration: none;
  color: #4fad49;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding: 10px;
}
a.button.one:hover:before, a.button.one:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}
</style> 

<section
        class="pb-20 bg-blueGray-200 section-1"
      >
<div class="text-center py-8" id="services">
            <h1

              class=" text-3xl font-bold text-gray-900 dark:text-white transition"
            >
Our Services
   
            </h1>
          </div>
        <div class="container mx-auto px-4">
         <!-- End of cards -->
  <div class="flex flex-wrap items-center">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-server text-xl"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
             Construction of technical infrastructure
            </h2>
 <ul class="list-none mt-6">
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Installation of fiber optic cables and communication cabinets
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Choosing the best performing and most affordable
equipment according to each project.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                Installing and connecting devices using the best toplogies
and engineering structures according to the site and
project.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Operating devices and performing the necessary software
interventions and configurations.
                      </p>
                    </div>
                  </div>
                </li>
 <p class="text-blueGray-500 pr-12 pt-8 text-lg leading-12">
Learn about one of the applications of this service for individuals:
<a class="button one" href={{ "/en/smart-home" | prepend: site.baseurl }}>
Smart Home
</a>
                      </p>
              </ul>

          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                data-src={{ "/assets/img/server-1235959_1280.webp" | prepend: site.baseurl }}

                class="lazyload w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>



           

      <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-8 sm:order-2">
            <img
              alt="..."
              class="lazyload max-w-full rounded-lg"
              data-src={{ "/assets/img/infrastructure.png" | prepend: site.baseurl }}

            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-network-wired text-xl"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
Maintenance and operation of systems, devices
and networks
</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                     Improving and maintaining
existing networks and
infrastructure in institutional and
individual facilities.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Updating all applications and
equipment according to the
existing project.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Optimize and extend software applications with
performance and clean code in mind.
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Transfer a web application from one hosting to another
and configure all the necessary settings.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
</div>
<div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-info text-xl"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
Technical Support
            </h2>
   <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Providing specialized technical consultations to individuals
and institutions.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                   Subscription services and preparation of applications
necessary for projects (educational, health, accounting, etc.) 
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words w-full my-6"
            >
              <img
                alt="..."
                data-src={{ "/assets/img/web-3967926_1280.webp" | prepend: site.baseurl }}

                class="lazyload w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>

    <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="lazyload max-w-full rounded-lg"
              data-src={{ "/assets/img/web.png" | prepend: site.baseurl }}


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-globe text-xl"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
Web Design and Development
</h2>
             <ul class="list-none mt-6">
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Logo and visual identity design (if not available)
                      </p>
                    </div>
                  </div>
                </li>
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                    Planning and implementing customized integrated web
applications, including facility management applications
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Elegant, professional designs compatible with all devices
with Focus on security and performance to ensure speed
and scalability of the wesites
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
 Producing websites compatible with search engines so
that they appear in the first search results
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Building the necessary infrastructure for successful e-
marketing, including metadata for website pages and its
generation by the server (SSR).
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Custom domain and email addresses for your business, in
addition to other services upon request
                      </p>
                    </div>
                  </div>
                </li>
     <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The possibility of adding versions of the website in
English, Turkish, and German upon request
                      </p>
                    </div>
                  </div>
                </li>
  <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The possibility of adding electronic payment service
through the website
                      </p>
                    </div>
                  </div>
                </li>
  
 
              </ul>


            </div>
          </div>
        </div>

    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-mobile-alt text-xl"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
Mobile application development
            </h2>
 <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Producing secure, clean code that is seamlessly scalable
                      </p>
                    </div>
                  </div>
                </li>
<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Elegant designs and easy-to-use interfaces
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Focus on performance such as speed, low power and low
memory consumption
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Upload the application to famous stores such as Google
Play and Apple Store
                      </p>
                    </div>
                  </div>
                </li>

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                data-src={{ "/assets/img/android-2027560_1280.png" | prepend: site.baseurl }}

                class="lazyload w-60 align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>
  <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="lazyload max-w-full w-10/12 rounded-lg"
              data-src={{ "/assets/img/neural-network-3816319_1280.webp" | prepend: site.baseurl }}


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-code-branch text-xl"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
Data analysis and AI services
</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Using statistics and data mining to discover patterns in
existing data and give the best suggestions to improve
marketing and selling methods.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Building project-specific machine learning and deep
learning models to make predictions about new data.

                      </p>
                    </div>
                  </div>
                </li>
           
              </ul>


            </div>
          </div>
        </div>
</section>
