<style>
.my-float{
	margin-top:16px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
        {% if page.url contains "/en" %}
    	right:40px;
    {% else %}
	left:40px;
    {% endif %}
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
</style>
<a onclick="return gtag_report_covnersion('https://wa.me/966539122203');" href="https://wa.me/966539122203" class="float" target="_blank" aria-label="WhatsApp button">
<i class="fab fa-whatsapp my-float"></i>
</a>


<!-- scripts for lazyload and enlarging portfolio images -->



<script>
    document.addEventListener("DOMContentLoaded", function() {
        let lazyloadImages = document.querySelectorAll(".lazyload");

        const lazyload = function() {
            let scrollTop = window.pageYOffset;

            lazyloadImages.forEach(function(img) {
                if (img.offsetTop < (window.innerHeight + scrollTop)) {
                    img.src = img.dataset.src;
                    img.classList.remove("lazyload");
                }
            });

            cleanLazyImages();
        };

        const cleanLazyImages = function() {
            lazyloadImages = Array.prototype.filter.call(lazyloadImages, function(img) {
                return img.classList.contains("lazyload");
            });
        };

        window.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);

        lazyload();
    });

function openLightbox(img) {
    document.getElementById("lightbox").classList.add("show");
    document.getElementById("lightbox-img").src = img.src;
}

function closeLightbox() {
    document.getElementById("lightbox").classList.remove("show");
}
</script>
