<section class="bg-blueGray-200 py-4 section-3">
<div class="text-center my-6" id="نماذج">
            <h1

              class="my-10 text-3xl font-bold text-gray-900 dark:text-white transition"
            >
             نماذج لمواقع الوب
   
            </h1>
          </div>

  
      <div class="mx-auto max-w-screen-md sm:text-center">
<div class="flex flex-wrap items-center">
          <div class="px-4 mr-auto ml-auto">
    <div class="card flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="lazyload card-img max-h-60 w-full align-middle object-cover rounded-t-lg" data-src="https://raw.githubusercontent.com/rawajit/app-landing-page/main/images/_screenshot.png" alt="تصميم موقع تسويق" onclick="openLightbox(this)">
    <div class="flex flex-col justify-between p-4 leading-normal">
    <a target="_blank" href="https://rawajit.com/app-landing-page/">    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">تصميم موقع تسويق <i class="fas fa-external-link-alt"></i></h2></a>

<p class="mb-3 font-normal text-white">
ويحوي صفحة الأسعار ومدونة مع تصنيفات المقال، بالإضافة لقسم المزايا وأقسام أخرى.
</p>
<p class="mb-3 font-normal text-white"></p>
</div>
</div>
         
          </div>
<!-- Lightbox container -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
    <span class="close">&times;</span>
    <img src="" alt="Enlarged Image" class="lightbox-img mr-auto ml-auto transition sm:top-10 sm:relative" id="lightbox-img">
</div>
 <div class="p-4 mr-auto ml-auto">
    <div class="card flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="lazyload card-img max-h-60 w-full align-middle object-cover rounded-t-lg" data-src="https://rawajit.com/business-tiles-design/assets/images/forty.jpg" alt="تصميم موقع أعمال عربي" onclick="openLightbox(this)">
    <div class="flex flex-col justify-between p-4 leading-normal">
    <a target="_blank" href="https://rawajit.com/business-tiles-design/">    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">تصميم موقع أعمال عربي<i class="fas fa-external-link-alt"></i></h2></a>

<p class="mb-3 font-normal text-white">
تصميم مميز غير تقليدي يعرض المزايا أو الخدمات الرئيسية للشركة بشكل حجرات جذابة، وعند الضغط على كل حجرة يتم الانتقال لصفحة مخصصة لعرض المزيد عن الخدمة. ويحوي كذلك قسم عن الشركة وقسم معلومات التواصل
</p>
   
</div>
</div>
         
          </div>
 <div class="p-4 mr-auto ml-auto">
    <div class="card flex flex-col items-center bg-sky-600 border border-gray-200 rounded-lg shadow md:max-w-xl hover:bg-sky-500 min-h-20">
    <img class="lazyload card-img max-h-60 w-full align-middle object-cover rounded-t-lg" data-src="https://rawajit.com/creative-landing-page/img/banner3.png" alt="قالب الإبداع للمواقع التعريفية" onclick="openLightbox(this)">
    <div class="flex flex-col justify-between p-4 leading-normal">
    <a target="_blank" href="https://rawajit.com/creative-landing-page/">    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">قالب الإبداع للمواقع التعريفية <i class="fas fa-external-link-alt"></i></h2></a>
      <p class="mb-3 font-normal text-white">
ويحوي أقسام من نحن وخدماتنا وأعمالنا والتي تُعرض بشكل جذاب ومميز 
</p>
      <p class="mb-3 font-normal text-white"></p>
</div>
</div>
         
          </div>
 
</div>
</div>
</section>
