
<!DOCTYPE html>
<html>

  {% include head.html %}
   
   <style>
        body {
          direction: ltr;
}
    </style>
    <body class="text-blueGray-700 antialiased" data-sveltekit-preload-data="hover">
      <div style="display: contents">

{% include nav-en.html %}
<div
          class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
        >
    <div
            class="absolute top-0 w-full h-full bg-center bg-cover"
            style="
          background-image: url({{ '/assets/smart-home-2769210_1920.webp' | prepend: site.baseurl }});
        "
          >
<span
              id="blackOverlay"
              class="w-full h-full absolute opacity-75 bg-black"
            />
          </div>
          <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="pt-8">
                  <h1 class="text-white font-semibold text-5xl shadow-black sm:text-xl">
Transform your traditional home into a smart home
                  </h1>
                  <p class="mt-4 text-lg leading-8 text-blueGray-200 shadow-blue">
   We help you adapt the latest technologies for your comfort to enjoy a new and modern lifestyle

                  </p>

                </div>

              </div>
            </div>
          </div>
            <div
        class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
        style="transform: translateZ(0);"
      >
     
      </div>
        </div>
    
     {% include wa_button.html %}
<!-- Services -->
 <section
        class="pb-20 bg-blueGray-200 section-1"
      >
<div class="text-center py-8" id="services">
            <h1

              class=" text-3xl font-bold text-gray-900 dark:text-white transition"
            >
Some of the technologies we provide

   
            </h1>
          </div>
        <div class="container mx-auto px-4">
         <!-- End of cards -->
  <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-fingerprint"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
Smart Lock
            </h2>
 <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The ability to create a temporary password
for guests.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
        Quick fingerprint entry, where more than
100 different fingerprints can be added.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Entry by password.
                      </p>
                    </div>
                  </div>
                </li>
             <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Entry by card, and more than 30 different
cards can be added.
                      </p>
                    </div>
                  </div>
                </li>
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Traditional key entry.
                      </p>
                    </div>
                  </div>
                </li>
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Possibility of unlocking via mobile
application
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src={{ "/assets/img/61O0eRKgOfL.webp" | prepend: site.baseurl }}


                class="w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>



           

      <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-8 sm:order-2">
            <img
              alt="..."
              class="max-w-full rounded-lg"
               src={{ "/assets/img/smart-home-3779361_1280.webp" | prepend: site.baseurl }}
            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-sun"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
Smart Lightning
</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The ability to turn on and off the lighting
via the mobile application.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Possibility of controlling the lighting
intensity level.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Possibility of setting specific times to turn
on and off the lighting.
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The possibility of linking lighting to motion
sensors.
                      </p>
                    </div>
                  </div>
                </li>

<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Possibility of controlling lighting via smart
control screens.
                      </p>
                    </div>
                  </div>
                </li>
<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Possibility of traditional control via lighting
buttons.
                      </p>
                    </div>
                  </div>
                </li>

              </ul>

            </div>
          </div>
        </div>
</div>
<div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-fan"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
Smart Air Conditioning
            </h2>
   <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The ability to open and close the air
conditioner from the mobile phone.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Control temperature from mobile.
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The ability to control the air conditioning
via control screens and voice commands
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words w-full my-6"
            >
              <img
                alt="..."
                src={{ "/assets/img/iQool9_2_Supersize.webp" | prepend: site.baseurl }}

                class="w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>

    <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="max-w-full rounded-lg"
               src={{ "/assets/img/bed-1839183_640.jpg" | prepend: site.baseurl }}


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
<i class="fas fa-grip-lines-vertical"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
Smart curtains
</h2>
             <ul class="list-none mt-6">
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The ability to open and close curtains from
the application or via voice commands.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
The ability to set specific times for
automatic opening and closing of curtains
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>


            </div>
          </div>
        </div>

    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
<i class="fab fa-watchman-monitoring"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
Monitoring system
            </h2>
 <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
External and indoor cameras with
resolutions starting from 5 megapixels and
above.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
External cameras are designed to resist
weather factors such as water, dust, and
heat.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Supports night vision.
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
High resolution allows images to be
enlarged and details read.
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
Possibility of remote monitoring via the
application or monitoring screens.
                      </p>
                    </div>
                  </div>
                </li>

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
             src={{ "/assets/img/camera-8053993_640.jpg" | prepend: site.baseurl }}

                class="w-60 align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>
   <div class="text-center my-6">
   <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xl font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    Start your smart home journey

              </button>
            </a>
    </div>
</section>


<!-- End of Services -->


    {% include footer-en.html %}

        </div>
    </body>
</html>
