
<!DOCTYPE html>
<html>

  {% include head.html %}
   

    <body class="text-blueGray-700 antialiased" data-sveltekit-preload-data="hover">
      <div style="display: contents">

{% include nav.html %}
<div
          class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
        >
    <div
            class="absolute top-0 w-full h-full bg-center bg-cover"
            style="
          background-image: url({{ '/assets/smart-home-2769210_1920.webp' | prepend: site.baseurl }});
        "
          >
<span
              id="blackOverlay"
              class="w-full h-full absolute opacity-75 bg-black"
            />
          </div>
          <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="pt-8">
                  <h1 class="text-white font-semibold text-5xl shadow-black sm:text-xl">
                     حوّل منزلك التقليدي إلى منزل ذكي
                  </h1>
                  <p class="mt-4 text-lg leading-8 text-blueGray-200 shadow-blue">
                  نساعدك على تطويع أحدث التقنيات لراحتك لتسمتع بنمط حياة جديد وعصري

                  </p>

                </div>

              </div>
            </div>
          </div>
            <div
        class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
        style="transform: translateZ(0);"
      >
     
      </div>
        </div>
    
     {% include wa_button.html %}
<!-- Services -->
 <section
        class="pb-20 bg-blueGray-200 section-1"
      >
<div class="text-center py-8" id="services">
            <h1

              class=" text-3xl font-bold text-gray-900 dark:text-white transition"
            >
بعض التقنيات التي نوفرها
   
            </h1>
          </div>
        <div class="container mx-auto px-4">
         <!-- End of cards -->
  <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-fingerprint"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
              القفل الذكي
            </h2>
 <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                     إمكانية إنشاء رقم سري مؤقت للضيوف
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                        الدخول السريع بالبصمة، حيث يمكن إضافة أكثر من 100 بصمة مختلفة
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
الدخول بالرقم السري
                      </p>
                    </div>
                  </div>
                </li>
             <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
الدخول بالكرت، ويمكن إضافة أكثر من 30 كرت مختلف
                      </p>
                    </div>
                  </div>
                </li>
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
الدخول التقليدي بالمفتاح
                      </p>
                    </div>
                  </div>
                </li>
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية فتح القفل عبر تطبيق الجوال
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src={{ "/assets/img/61O0eRKgOfL.webp" | prepend: site.baseurl }}

                class="w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>



           

      <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-8 sm:order-2">
            <img
              alt="..."
              class="max-w-full rounded-lg"
              src={{ "/assets/img/smart-home-3779361_1280.webp" | prepend: site.baseurl }}

            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                <i class="fas fa-sun"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
الإنارة الذكية
</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                       إمكانية إشعال وإطفاء الإنارة عبر تطبيق الجوال
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية التحكم بمستوى شدة الإنارة
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية تحديد أوقات محددة لإشعال وإطفاء الإنارة
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية ربط الإنارة بحساسات الحركة، حيث ينار المكان تلقائيًا عند وجود حركة، ويطفَأ تلقائيًا عند زوالها
                      </p>
                    </div>
                  </div>
                </li>

<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية التحكم بالإنارة عبر شاشات التحكم الذكية
                      </p>
                    </div>
                  </div>
                </li>
<li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية التحكم التقليدي عبر أزرار الإنارة
                      </p>
                    </div>
                  </div>
                </li>

              </ul>

            </div>
          </div>
        </div>
</div>
<div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-fan"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
التكييف الذكي
            </h2>
   <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية فتح وإغلاق التكييف من الجوال
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                     التحكم بدرجة الحرارة من الجوال
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية التحكم بالتكييف عبر شاشات التحكم والأوامر الصوتية
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words w-full my-6"
            >
              <img
                alt="..."
                src={{ "/assets/img/iQool9_2_Supersize.webp" | prepend: site.baseurl }}

                class="w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>

    <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="max-w-full rounded-lg"
              src={{ "/assets/img/bed-1839183_640.jpg" | prepend: site.baseurl }}


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
<i class="fas fa-grip-lines-vertical"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
الستائر الذكية
</h2>
             <ul class="list-none mt-6">
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                   إمكانية فتح وإغلاق الستائر من التطبيق أو عبر الأوامر الصوتية
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية تحديد أوقات محددة للفتح والإغلاق التلقائي للستائر
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>


            </div>
          </div>
        </div>

    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
<i class="fab fa-watchman-monitoring"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
نظام المراقبة
            </h2>
 <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
كاميرات خارجية وداخلية بدقة تبدأ من 5 ميغابيكسل فأكثر
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
الكاميرات الخارجية مخصصة لمقاومة العوامل الجوية من ماء وغبار وحرارة
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
تدعم الرؤية الليلية
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
دقة عالية تسمح بتكبير الصور وقراءة التفاصيل
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إمكانية المراقبة عن بعد عبر التطبيق أو شاشات المراقبة
                      </p>
                    </div>
                  </div>
                </li>

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src={{ "/assets/img/camera-8053993_640.jpg" | prepend: site.baseurl }}

                class="w-60 align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>
   <div class="text-center my-6">
   <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xl font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    ابدأ رحلتك للمنزل الذكي
              </button>
            </a>
    </div>
</section>


<!-- End of Services -->


    {% include footer.html %}

        </div>
    </body>
</html>
