
<!DOCTYPE html>
<html>

  {% include head.html %}
   

    <body class="text-blueGray-700 antialiased" data-sveltekit-preload-data="hover">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4B84K9X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      <div style="display: contents">

{% include nav.html %}
<div
          class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
        >
    <div
            class="absolute top-0 w-full h-full bg-center bg-cover"
            style="
          background-image: url(/assets/website-3374825_1920.jpg);
        "
          >
<span
              id="blackOverlay"
              class="w-full h-full absolute opacity-75 bg-black"
            />
          </div>
          <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="pt-8">
                  <h1 class="text-white font-semibold text-5xl shadow-black sm:text-xl">
                     عزز حضورك الإلكتروني بموقع عصري وجذاب
                  </h1>
                  <p class="mt-4 text-lg leading-8 text-blueGray-200 shadow-blue">
فريقنا مؤلف بالكامل من مهندسين متخصصين لنعطيك نتائجًا لا يمكنك الحصول عليها من مكان آخر

                  </p>

                </div>

              </div>
            </div>
          </div>
            <div
        class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
        style="transform: translateZ(0);"
      >
     
      </div>
        </div>
    
     {% include wa_button.html %}
<!-- Services -->
 <section
        class="pb-4 bg-blueGray-200 section-1"
      >
<div class="text-center py-8" id="services">
            <h1

              class=" text-3xl font-bold text-gray-900 dark:text-white transition"
            >
بعض المزايا التي نقدمها
   
            </h1>
          </div>
        <div class="container mx-auto px-4">
         <!-- End of cards -->
  <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-fingerprint"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
              تصميم الشعار والهوية البصرية حال عدم تواجدها 
            </h2>
 <ul class="list-none mt-6">
                 <p class="text-blueGray-500 pr-12 pt-8 text-lg leading-12">
تساهم الهوية البصرية، بما في ذلك الألوان والخطوط والتصاميم، في صناعة تجربة متسقة وجذابة للمستخدم، مما يزيد من التعرف على العلامة التجارية ويساهم في بناء الثقة والمصداقية

</p>
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src="/assets/img/Visual-Identity.jpg"

                class="w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>



           

      <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-8 sm:order-2">
            <img
              alt="..."
              class="max-w-full rounded-lg"
              src="/assets/img/website-1624028_640.png"

            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
                 <i class="fas fa-palette"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
أحدث التصاميم العصرية والفريدة من مصممينا المختصين 
</h2>
             <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
                      تصاميم أنيقة وجذابة متوافقة مع هويتك البصرية
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
نولي اهتمامًا كبيرًا بتجربة المستخدم ووضوح هيكلية الموقع وسهولة التنقل بين أقسامه وصفحاته
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
تعمل جميع تصاميمنا على جميع الأجهزة والأنظمة
                      </p>
                    </div>
                  </div>
                </li>
       <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
نستخدم أحدث الإظهارات والتأثيرات، وتحريك للعناصر بشكل سلس لا يتضارب مع الأداء
                      </p>
                    </div>
                  </div>
                </li>



              </ul>

            </div>
          </div>
        </div>
</div>
<div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
              <i class="fas fa-bezier-curve"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
تخطيط وتنفيذ تطبيقات وب متكاملة
            </h2>
   <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
يعمل فريقنا على إنشاء التطبيق الذي تريد ولكافة القطاعات، بما في ذلك تطبيقات إدارة المنشآت 
                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
خبرة في تخطيط وتنفيذ تطبيقات إدارة المنشآت الطبية، وتطبيقات إدارة الموارد والأصول
                      </p>
                    </div>
                  </div>
                </li>
    <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
استخدام أحدث التقنيات بما يضمن أفضل أداء وأعلى أمان لتطبيقك
                      </p>
                    </div>
                  </div>
                </li>
                 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
واجهات مستخدم حديثة وأنيقة لتطبيقك تعمل على كافة الأجهزة
                      </p>
                    </div>
                  </div>
                </li>
      <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                        <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إنتاج أكود نظيفة وسليمة لضمان قابلية التخصيص والتوسع بكل سلاسة
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words w-full my-6"
            >
              <img
                alt="..."
                src="/assets/img/JavaScript_UI_widgets_library_for_building_desktop_and_mobile_web_apps.webp"

                class="w-full align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>

    <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="max-w-full rounded-lg"
              src="/assets/img/online-marketing-1246457_640.jpg"


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
<i class="fas fa-search-dollar"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
بناء البنية الأساسية اللازمة للتسويق الإلكتروني الناجح
</h2>
             <ul class="list-none mt-6">
 <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
بناء الموقع بالكامل بما يتوافق مع معايير محركات البحث (SEO) لظهوره بالنتائج الأولى للبحث

                      </p>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
إضافة كافة العناصر التقنية اللازمة لذلك، بما في ذلك البيانات الوصفية لصفحات الموقع، وتوليدها من طرف المخدم (SSR)
                      </p>
                    </div>
                  </div>
                </li>
               
              </ul>


            </div>
          </div>
        </div>

    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
<i class="fas fa-language"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
موقعك بلغات مختلفة
            </h2>
 <ul class="list-none mt-6">
                <p class="text-blueGray-500 pr-4">
إمكانية إضافة نسخات للموقع باللغة التي تريد، حيث تتم الترجمة من قبل مترجم مختص باللغة المطلوبة، ليقوم مهندسينا بعد ذلك بالإجراءات التقنية المطلوبة. 
                      </p>

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src="/assets/img/image844.webp"

                class="align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
    <div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="max-w-full rounded-lg"
              src="/assets/img/startup-593341_640.jpg"


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
<i class="fas fa-search-dollar"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
نساعدك في وضع المحتوى
</h2>
             <ul class="list-none mt-6">
 
                      <p class="text-blueGray-500 pr-4">
يساعدك فريقنا المتخصص بوضع محتوى تسويقي وتصميم الصور وإنتاج مقاطع الفيديو الترويجية

                      </p>
                  
              </ul>


            </div>
          </div>
        </div>
    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
<i class="fas fa-share-alt"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
إنشاء وإدارة صفحات مواقع التواصل
            </h2>
 <ul class="list-none mt-6">
     <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
يعمل فريقنا التسويقي على دراسة موقعك وخدماتك، ويقوم بإدارة مواقع التواصل الأنسب لنشاطك التجاري ولفئتك المستهدفة. 
                      </p>
                    </div>
                  </div>
                </li>
                  <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="text-base font-semibold inline-block  px-2 uppercase rounded-full text-emerald-300 tirikiwaz mr-3"
                      >
                       <i class="fas fa-angle-left"></i>
                      </span>
                    </div>
                    <div>
                      <p class="text-blueGray-500 pr-4">
كما نقدم لك خدمة إدارة الحملات الإعلانية على جوجل وعلى مواقع التواصل
                      </p>
                    </div>
                  </div>
                </li>

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src="/assets/img/social-media-5187243_640.png"

                class="align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
<div class="container mx-auto px-4 pt-16">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4  mt-16 sm:order-2" >
            <img
              alt="..."
              class="max-w-full rounded-lg"
              src="/assets/img/ecommerce-3562005_640.jpg"


            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <div
                class="tirikiwaz p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
              >
<i class="fas fa-search-dollar"></i>
              </div>
              <h2 class="text-3xl sm:text-xs font-semibold">
خدمات مخصصة
</h2>
             <ul class="list-none mt-6">
 
                      <p class="text-blueGray-500 pr-4">
يشمل ذلك دومين خاص لنشاطك التجاري، وبريد إلكتروني مخصص بعناوين غير محدودة، وإمكانية إضافة خدمة الدفع الإلكتروني عبر الموقع، بالإضافة لخدمات أخرى لتسهيل إدارة نشاطك التجاري وبحسب الطلب.

                      </p>
                  
              </ul>


            </div>
          </div>
        </div>
    <div class="flex flex-wrap items-center pt-16">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
            >
<i class="fas fa-handshake"></i>
            </div>
            <h2 class="text-3xl sm:text-xs mb-2 font-semibold leading-normal">
خدمات ما بعد البيع والدعم الفني
            </h2>
 <ul class="list-none mt-6">
   
                      <p class="text-blueGray-500 pr-4">
نقدم لزبائننا دعم مجاني لسنة كاملة على أي مشكلة ناتجة عن خطأ في بناء الموقع من طرفنا، كما نقوم بإجراء أي إضافات أو تغييرات مطلوبة بأسعار مخفضة لهم وبالسرعة القصوى، حيث نعطى أولوية تنفيذ المهام لزبائننا.
                      </p>
                 

              </ul>
          </div>

          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words  w-full my-6"
            >
              <img
                alt="..."
                src="/assets/img/economy-3213967_640.jpg"

                class="align-middle rounded-t-lg"
              />


            </div>
          </div>
        </div>
      </div>
   <div class="text-center my-6">
  <p class="text-blueGray-500 pr-4 text-lg">
تواصل معنا الآن واحصل على استشارة مجانية لكيفية نمو تجارتك عبر الحضور الإلكتروني، واحصل كذلك على عرض سعر خاص بناء على المتطلبات التي تحتاجها.
                      </p>
    </div>
</section>
 {% include web-templates.html %}

<section class="bg-blueGray-200 py-6 section-3">
<div class="text-center my-6" id="من-نحن">
            <h1

              class="my-10 text-3xl font-bold text-gray-900 transition"
            >
             أهمية وجود موقع إلكتروني بتصميم عصري
   
            </h1>
          </div>
  <div class="py-8 px-4 w-3/4 m-auto bg-gray-100  p-4 rounded-lg shadow-md lg:py-16 lg:px-6" style="background-image: radial-gradient(#04516a, #261329);">

  
      <div class="mx-auto max-w-screen-md px-8 sm:text-center leading-8" style="color: wheat;">

          <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-base ">
 <p class="text-muted">
من العوامل الأساسية لنمو نشاطك التجاري في عصرنا هذا هو وجود هوية إلكترونية قوية لك على الإنترنت بحيث تعزز مصداقيتك وثقة العملاء بك وتحقق لك الوصول وكذلك توسيع شريحة عملائك.
</p>
 <p class="text-muted">
تظهر الدراسات أن أكثر من 75% من المستخدمين (المراجع العلمية أدناه) يحكمون على مصداقية الشركات بناءً على جودة مواقعها الإلكترونية، حيث يكون للمواقع الاحترافية تأثير مباشر على مصداقية المعلومات المعروضة وعلى تجربة المستخدم ، وتأثير ملموس على رضى وثقة العميل بك واحتمالية إعادة الشراء منك. وتخبرنا الدراسات عن أبرز العوامل الرئيسية لجودة المواقع، وهي:
</p>
 <p class="text-muted">
1. التصميم الجميل والمميز
</p>
 <p class="text-muted">

2. الحضور القوي على محركات البحث
</p>
 <p class="text-muted">

3. سرعة التصفح على مختلف الأجهزة
</p>
 <p class="text-muted">

سواء كان لديك موقع بالفعل أو لا، يوفر لك فريقنا المؤلف بالكامل من مهندسي حاسوب مختصين كل العوامل المذكورة أعلاه وأكثر، حيث لا يهتم فقط بالتصميم الأنيق والفريد لموقعك، بل يولي اهتمام كبير كذلك لسرعة التصفح والأداء العالي على محركات البحث، وكذلك الأمان والحماية العالية من الهجمات السيبرانية المعروفة. 
</p>
 <p class="text-muted">
المراجع العلمية:
</p>
 <p class="text-muted">
• <a rel="nofollow" href="https://www.researchgate.net/publication/338043760_The_effect_of_website_design_quality_on_the_customer%27s_trust_and_repurchase_intention_from_cosmetic_websites
">researchgate.net</a>
</p>
 <p class="text-muted">
• <a rel="nofollow" href="https://www.mdpi.com/2071-1050/15/8/6347">mdpi.com</a>
</p>
      </div>


  </div>
  <div class="text-center my-6">
   <a  href="/contact">
              <button
                class="text-white active:bg-green-400 text-xl font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                type="button" style="  background-color: #4fad49;"
                >    اطلب عرض سعر مجاني
              </button>
            </a>
    </div>

<div class="mx-auto w-4/5 my-10">
  <div class="text-center text-3xl mx-2 mb-8">
    <span>الأسئلة الشائعة</span>
  </div>
  {% for item in site.data.questions %}
    <div id="collapseheader-{{ forloop.index0 }}" class="collapse__header" onclick="showCollapse({{ forloop.index0 }})">
      {{ item.question }}
    </div>
    <div id="collapse-{{ forloop.index0 }}" class="collapse__content hid">
<div>
      {{ item.answer }}
</div>
    </div>
  {% endfor %}
</div>


</section>




<script>
  let show = null;
  function showCollapse(index) {
    const content = document.getElementById('collapse-' + index);
    const content2 = document.getElementById('collapseheader-' + index);
    if (show !== null) {
      const prevContent = document.getElementById('collapse-' + show);
      prevContent.classList.add('hid');
       const header = document.getElementById('collapseheader-' + show);
      header.classList.remove('active');
    }
    if (show === index) {
      show = null;
    } else {
      content.classList.remove('hid');
      content2.classList.add('active');
      show = index;
    }
  }
</script>


<!-- End of Services -->


    {% include footer.html %}

        </div>
    </body>
</html>
